@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ed1c24;

  --color-red-hover: rgb(182, 0, 0);

  --font-size-subheader: 18px;
  --font-size-subheader: 18px;
  --font-size-header: 28px;
  --font-size-error: 32px;

  --height-full-display: 100vh;
  --height-header-full: 50px;

  --font-family-basic: 'Oswald', sans-serif;
  --font-family-additional: 'Josefin Sans', sans-serif;

  --padding-y-small: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  min-height: var(--height-full-display);
  color: var(--color-white);
  font-family: var(--font-family-basic);
}

p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.page__title {
  line-height: 1.4;
  text-align: center;
  font-size: var(--font-size-header);
}
