.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding: 20px 10px;
  background-color: var(--color-red);
  text-align: center;

  .footer__description {
    font-size: var(--font-size-subheader);
  }
}
