.item {
  .top {
    gap: 0 30px;

    .imgWrapper {
      max-width: 325px !important;

      .img {
        width: 325px !important;
      }
    }

    .info {
      width: 100%;
      font-size: var(--font-size-subheader);
      line-height: 1.5;

      .details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        margin-top: 20px;

        .detailsItem {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          span {
            margin-left: 5px;
            font-weight: 600;
          }
        }

        .links {
          gap: 15px;
          align-items: center;
          flex-direction: row;
          color: #fff;
          a {
            padding: 10px 15px;
            background-color: var(--color-red-hover);
            border-radius: var(--border-radius-card);
            transition: all 0.3s;
            box-shadow: 9px 5px 17px -7px rgba(0, 0, 0, 0.75);

            &.disabled {
              pointer-events: none;
              color: #e4e4e4;
              background-color: rgb(185, 185, 185);
            }

            &:hover {
              background-color: rgb(139, 0, 0);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .item {
    .top {
      .info {
        .details {
          flex-direction: column;
          align-items: center;
          gap: 10px 0;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .item {
    .top {
      .imgWrapper {
        max-width: 290px !important;

        .img {
          width: 290px !important;
        }
      }

      .info {
        font-size: var(--font-size-normal);
        .details {
          margin: 10px 0 0;
        }
      }
    }
  }
}
